name: Main

on:
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    integration:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: npm
                  registry-url: https://registry.npmjs.org
            - run: npm ci
            - run: npm run build
            - run: npm run lint
            - run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
